Backup/Web References/ts01/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://services.medscreen.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://services.medscreen.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.medscreen.com/">
      <s:element name="CheckPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEncryptedPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckEncryptedPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckEncryptedPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="CheckPasswordSoapIn">
    <part name="parameters" element="s0:CheckPassword" />
  </message>
  <message name="CheckPasswordSoapOut">
    <part name="parameters" element="s0:CheckPasswordResponse" />
  </message>
  <message name="CheckEncryptedPasswordSoapIn">
    <part name="parameters" element="s0:CheckEncryptedPassword" />
  </message>
  <message name="CheckEncryptedPasswordSoapOut">
    <part name="parameters" element="s0:CheckEncryptedPasswordResponse" />
  </message>
  <portType name="Service1Soap">
    <operation name="CheckPassword">
      <input message="s0:CheckPasswordSoapIn" />
      <output message="s0:CheckPasswordSoapOut" />
    </operation>
    <operation name="CheckEncryptedPassword">
      <input message="s0:CheckEncryptedPasswordSoapIn" />
      <output message="s0:CheckEncryptedPasswordSoapOut" />
    </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CheckPassword">
      <soap:operation soapAction="http://services.medscreen.com/CheckPassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckEncryptedPassword">
      <soap:operation soapAction="http://services.medscreen.com/CheckEncryptedPassword" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="Service1Soap12" type="s0:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <operation name="CheckPassword">
      <soap12:operation soapAction="http://services.medscreen.com/CheckPassword" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </input>
      <output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </output>
    </operation>
    <operation name="CheckEncryptedPassword">
      <soap12:operation soapAction="http://services.medscreen.com/CheckEncryptedPassword" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <input>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </input>
      <output>
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </output>
    </operation>
  </binding>
  <service name="Service1">
    <port name="Service1Soap" binding="s0:Service1Soap">
      <soap:address location="http://ts01/Solutions/WebService1/Service1.asmx" />
    </port>
    <port name="Service1Soap12" binding="s0:Service1Soap12">
      <soap12:address location="http://ts01/Solutions/WebService1/Service1.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </port>
  </service>
</definitions>